@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    background-color: #000814;
    color: white;
}

h1 {
    margin: 20px 0;
}

#fold {
    margin: 40px 0;
}

.hidden {
    font-size: 1.1em;
    padding: 0.6em 1em;
    margin: 0.5em;
    border-radius: 10px;
    border: none;
    background-color: white;
    border: 3px #000814 solid;
}

.hidden:focus {
    border: 3px #f6f316 solid;
}

main {
    padding: 20px;
}

input[type=text] {
    font-size: 1.5em;
    text-align: center;
    width: max-contentf;
    color: #001d3d;
    border-radius: 10px 0 0 10px;
    border: none;
    width: 300px;
}

input:focus {
    outline: none;
}

#searchbtn {
    padding: 1em;
    font-size: 1.2em;
    border-radius: 0 10px 10px 0;
    border: none;
    background-color: #c9e1fa;
    color: #001d3d;
}

#searchbtn:hover {
    color: #c9e1fa;
    background-color: #001d3d;
}

#inputs {
    display: flex;
    align-items: stretch;
    justify-content: center;
}

.box {
    background-color: #001d3d;
    border-radius: 20px;
    padding: 20px 30px;
}

#msg {
    font-size: 1.2em;
}

.added::before {
    content: "+";
    font-size: 1.7em;
    position: relative;
    left: -15px;
    color: green;
}

.deleted::before {
    content: "-";
    font-size: 2.25em;
    position: relative;
    left: -13px;
    color: red;
    line-height: 1.18em;
}

#grid {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    gap: 100px;
}

li {
    list-style: none;
    margin: 10px 0;
}

img {
    border-radius: 50%;
}

.name {
    font-size: 1.2em;
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.notfollowing::after {
    content: "?";
}

.entry {
    display: flex;
}

@media screen and (max-width: 800px) {
    #grid {
        gap: 20px;
        justify-content: center;
        /* max-width: 50%; */
        min-width: 50%;
    }
    img {
        width: 10% !important;
        height: 10% !important;
    }
    .name {
        font-size: 1em;
    }
    main {
        padding: 0;
    }
    .box {
        padding: 20px 0 20px 20px;
        min-width: 200px;
    }
    .added::before {
        content: none;
    }
    .deleted::before {
        content: none;
    }
    .added {
        color: green;
    }
    .deleted {
        color: red;
    }
}

@media screen and (max-width: 450px) {
    #grid {
        gap: 5px;
    }
    .name {
        font-size: 0.7em;
    }
}