@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    background-color: #000814;
    color: white;
}

h1 {
    margin: 20px 0;
}

#fold {
    margin: 40px;
}

.hidden {
    font-size: 1.1em;
    padding: 0.6em 1em;
    margin: 0.5em;
    border-radius: 10px;
    border: none;
    background-color: white;
}

.hidden:focus {
    border: 5px #0dc325 solid;
}

main {
    padding: 20px;
}

input[type=text] {
    font-size: 1.5em;
    text-align: center;
    width: max-contentf;
    color: #001d3d;
    border-radius: 10px 0 0 10px;
    border: none;
    width: 300px;
}

input:focus {
    outline: none;
}

#searchbtn {
    padding: 1em;
    font-size: 1.2em;
    border-radius: 0 10px 10px 0;
    border: none;
    background-color: #c9e1fa;
    color: #001d3d;
}

#searchbtn:hover {
    color: #c9e1fa;
    background-color: #001d3d;
}

#inputs {
    display: flex;
    align-items: stretch;
    justify-content: center;
}

.box {
    background-color: #001d3d;
    border-radius: 20px;
    padding: 20px 30px;
}

#msg {
    font-size: 1.2em;
}

.added::before {
    content: "+";
    font-size: 1.7em;
    position: relative;
    left: -15px;
    color: green;
}

.deleted::before {
    content: "-";
    font-size: 1.7em;
    position: relative;
    left: -15px;
    color: red;
}

#grid {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
}

li {
    list-style: none;
    margin: 10px 0;
}

img {
    border-radius: 50%;
}

#followers {}

.name {
    font-size: 1.2em;
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#following {}

.entry {
    display: flex;
}